<div class="row">
    <div class="offset-md-7 col-md-5 col-12">
        <div class="input-group pb-3 px-3 bg-white">
            <input type="text" class="form-control" id="item-number" placeholder="{{ trans("NumberToBasket::QuickAdd.inputPlaceholder") }}">
            <span class="input-group-btn">
                <button class="btn btn-primary" label="{{ trans("NumberToBasket::QuickAdd.buttonLabel") }}"
                        onclick="sendBasketRequest( '{{ trans('NumberToBasket::QuickAdd.successMessage') }}', '{{ trans('NumberToBasket::QuickAdd.errorMessage') }}')">{{ trans("NumberToBasket::QuickAdd.addButton") }}</button>
            </span>
        </div>
    </div>
</div>