<div class="row">
    <div class="col-xs-12 col-sm-7 m-b-1">
        <div class="input-group">
            <input type="text" class="form-control" id="item-number" placeholder="{{ trans("NumberToBasket::QuickAdd.inputPlaceholder") }}">
            <span class="input-group-btn">
                <button class="btn btn-primary" label="{{ trans("NumberToBasket::QuickAdd.buttonLabel") }}"
                        onclick="sendBasketRequest( '{{ trans('NumberToBasket::QuickAdd.successMessage') }}', '{{ trans('NumberToBasket::QuickAdd.errorMessage') }}')">{{ trans("NumberToBasket::QuickAdd.addButton") }}</button>
            </span>
        </div>
    </div>
</div>